  .Font1 {
    color: green;
    font-weight: bold;
  }

  .Font2 {
    color: green;
    font-weight: bold;
  }



  main {
    display: flex;
  }

  .topBar{
    display: flex;
    background-color: #303030;
    color: #ffffff;
    padding: 0.5rem;
    gap: 2rem;
  }
  
  .main-left {
    background-color: #cac7c5;
    flex: 3;
    padding: 1rem;
    min-height: 80vh;

  } 

  .main-right {
    background-color: #807e7e;
    flex: 1;
    padding: 1rem;
    text-align: center;
    min-height: 80vh;
  } 

  footer {
    display: flex;
    font-style: italic;

  }



    
