  .HeadText {
    color: #EF233C;
    font-weight: bold;
  }

  .Align {
    text-align: center;
  }



  main {
    display: flex;
  }

  .topBar{
    display: flex;
    background-color: #303030;
    color: #ffffff;
    padding: 0.5rem;
    gap: 2rem;
  }
  
  .main-left {
    background-color: #cac7c5;
    flex: 3;
    padding: 1rem;
    min-height: 80vh;

  } 

  .main-right {
    background-color: #807e7e;
    flex: 1;
    padding: 1rem;
    text-align: center;
    min-height: 80vh;
  } 

  footer {
    display: flex;
    font-style: italic;

  }

  .foot1{
    background-color: #303030;
    flex: 1;
    padding: 1rem;
  }
  .foot2{
    background-color: #837b7b;
    flex: 1;
    padding: 1rem;
  }
  .foot3{
    background-color: #574e4e;
    flex: 1;
    padding: 1rem;
  }


  h2 {
    color: #BA4956;
    text-decoration: underline;

  }

  li {
    color: #5e8ad6;
    font-style: italic;
  }


    
